/* Styles for the resume section */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-btn {
    min-width: 9%;
    margin: 1%;
}

#cv-body {
    margin: 20px;
    min-height: 90vh;
    width: 140vh;
    border: 5px solid black;
    box-shadow: 10px 10px;
    display: flex;
    flex-direction: row;
}

#cv-content {
    margin: 20px;
    flex-grow: 3;
}

#cv-info {
    margin: 20px;
    flex-grow: 1;
}

#img-box {
    margin-bottom: 25px;
    max-width: 300px;
}

.contact-subsection {
    display: flex;
    flex-direction: row;
}

.editable {
    padding: 1%;
}

.editable:hover {
    border: 2px solid black;
}

.indentedSublist {
    margin: 30px;
}